/**FEEDBACK**/
#feedback-positive{top: 59px;}
#feedback-positive .feedback-label{
    border-bottom: 2px solid green;
    height: 82px;
    width: 25px;
}

#feedback-neutral{top: 298px;}
#feedback-neutral .feedback-label{
    border-bottom: 2px solid grey;
    height: 82px;
    width: 25px;
}

#feedback-negative{top: 537px;}
#feedback-negative .feedback-label{
    border-bottom: 2px solid red;
    height: 82px;
    width: 25px;
}
#feedback-bg{
    position: absolute;
    top: 58px;
    left: 0px;
    width: 80px;
    height: 650px;
    z-index: 2;
}
.feedback-button{
    width: 80px;
    height: 169px;
    position: absolute;
    z-index: 3;
}


/**METODO 1**/

/*.feedback-button{
    width: 80px;
    height: 169px;
    position: absolute;
    z-index: 3;
    background-color: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.feedback-button:after {
    content: "";
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.feedback-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    -webkit-transition: 0s;
}
#feedback-positive.feedback-button:after {background: green;}
#feedback-neutral.feedback-button:after {background: grey;}
#feedback-negative.feedback-button:after {background: red;}

.feedback-bg-color{
    background-color: white;
    opacity: 0;
}*/


/**METODO 2**/

#feedback-flash{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 10;
    background-color: white;
}

/*CAMBIAR EL COLOR O LA OPACIDAD A .feedback-bg-color o  #feedback-flash SEGUN LA PRESENTACIÓN*/